<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/styles/form.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
    <% if(products.length>0) {%>
        <ul class="collection">
        <% products.forEach( p => {%>
            <li class="collection-item"><%= p.title %>(<%= p.cartItem.quantity %>)
            <form style="display: inline; margin-left: 30px" action="/shop/cart-delete-item" method="post">
                <input type="hidden" name="productId" value="<%= p.id  %>">
                <button class="btn" type="submit">Delete</button>
            </form>
            </li>
        <% }) %>
    </ul>
    <% } else { %>
        <h1>No products found</h1>
    <% } %>
    </main>
<%- include('../includes/end.ejs') %>