<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/styles/form.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <div>
        <div class='col s12 m6 l3'>
            <img class="materialboxed" width="650" src="<%= prod.imageURL %>">
        </div>
        <div>
            <h1><%= prod.title %></h1>
            <p><%= prod.description %></p>
            <p><%= prod.price %></p>
        </div>
    </div>
    <form action="/shop/cart" method="post">
        <input type="hidden" name="productID" value="<%= prod.id %>">
        <button class="btn" type="submit">Add to cart</button>
    </form>
<%- include('../includes/end.ejs') %>